.filterBar {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.select {
    padding: 10px;
    border: 2px solid #555;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}
.select:hover {
    border-color: #1e90ff;
}
.select:focus {
    border-color: #00bfff;
}
  